[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/zhiyuanep/hexo-theme-landscape.git
[submodule "themes/material-flow"]
	path = themes/material-flow
	url = https://github.com/zhiyuanep/hexo-theme-material-flow.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/zhiyuanep/hexo-theme-next.git
